.header{
    background-color: black;
    color: white;
}
.div{
    background-color: #282c34;
    color: white;
    align-items: center;
    justify-content: center;
}
.divs{
    display: inline-block;
}